<h2>Featured Product:</h2>
<%= image_tag(@featured_product.image_url) %>
Price
<%= @featured_product.price %>
Color
<%= @featured_product.color %>
Description
<%= @featured_product.description %>
ID
<%= @featured_product.id %>